:root {
  --color-text: #2E3440;
}

body{
  background-color: #FFFEF8 !important;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #FFF6D1, #FFE4B5);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* แทน justify-content: space-between */
  padding: 1rem 0;
  color: var(--color-text);
}

.sidebar-header {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  color: var(--color-text);
}

.sidebar-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-text);
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 0.4rem 0.4rem;
  border-radius: 0.5rem;
}

.menu-item:hover,.menu-history:hover {
  background-color: #fde6ba;
}

.menu-group {
  font-size: 0.75rem;
  font-weight: 600;
  color: #666;
  margin-top: 1.5rem;
  text-transform: uppercase;
}

.menu-history {
  font-size: 0.9rem;
  color: #444;
  transition: color 0.3s ease;
  padding: 0.4rem 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.icon {
  transition: color 0.3s ease;
  color: var(--color-text);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.icon:hover {
  background-color: #fde6ba;
}

.bold {
  font-weight: bold;
}

.text-primary {
  color: var(--color-text)
}